*{
    padding: 0;
    margin: 0;
	width: auto;
    font-family: Roboto, monospace;
    font-size: 3vh;
}

a{
	text-decoration: none;
}

body{
    background: radial-gradient(50% 50% at 50% 50%, rgba(26, 170, 216, 0.8) 0%, #000000 100%);
    width: 100%;
    color: white;
}

.background-picture{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(img/photo.jpg);
    background-size: cover;
}


.header{
    text-align: center;
}

.header__fio{
    font-size: 4vh;
}

.header__devider{
    width: 100%;
}

.header__study-place{
    padding-top: 2vw;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.main{
    display: flex;
    padding-bottom: 4vw;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main__skills{
    background-color: rgba(0, 0, 0, 0.58);
    width: 50%;
    margin: 1vw 9vw;
    padding: 2vw;
    border: 1px solid white;
    box-sizing: border-box;
    border-radius: 5vw;
    text-align: center;

    display: flex;
    flex: 1 1 200px;
    justify-content: center;
}

.footer{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer__pictures{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__pictures__soc-net{
    padding: 2vw 0vw;
    display: flex;
}

.footer__pictures__soc-net img{
    margin: 0vw 4vw;
    width:10vw;
    height:10vw;
}

@media (max-width: 800px){

    *{
        font-size: 3vw;
    }

    .background-picture{
        justify-content: space-around;
        height: 100vh; 
    }

    .header{
        margin-top: 6vh;
    }

    .header__fio{
        font-size: 4vw;
    }

    .main{
        margin: 1vw 5vw;
        padding: 3vw 4vw;
    }

    .footer__pictures__cat-img{
        width: 20vw;
        height: 15vw;
        transform: scaleX(-1);
    }

    .cat-1{
        transform: rotate(-90deg);
    }

    .cat-2{
        transform: rotate(90deg);
    }
}

@media (max-height:  768px){
    .main__skills{
        margin: 1vw 2vw;
    }
    body{
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .background-picture{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: auto;
    }
}


@media (max-width: 800px) and (max-height: 450px){
    *{
        font-size: 2vw;
    }

    .header__fio{
        font-size: 2vw; 
    }

    .header__study-place{
        font-size: 2vw;
        padding:  5px;
    }

    .main_info{
        padding: 1vw;
    }

    .main{
        padding-bottom: 5px;
    }

    .cat-1{
        transform: rotate(-180deg);
    }

    .cat-2{
        transform: rotate(180deg);
    }
}
