*{
    padding: 0;
    margin: 0;
	width: auto;
    font-family: Roboto, monospace;
    font-size: 3vh;
}

a{
	text-decoration: none;
}

body{
    background: radial-gradient(50% 50% at 50% 50%, rgba(26, 170, 216, 0.8) 0%, #000000 100%);
    width: 100%;
    height: 90vh;
    color: white;
    display: flex;
    justify-content: center;
}

.background-picture{
    height: 100vh;
    max-width: 80%;
    background-image: url(img/photo.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#FIO{
    font-size: 4vh;
}

#devider{
    width: 100%;
}

.short_info{
    padding-top: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    display: flex;
    padding-bottom: 4vw;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skills_info{
    background-color: rgba(0, 0, 0, 0.58);
    width: 50%;
    margin: 1vw 9vw;
    padding: 2vw;
    border: 1px solid white;
    box-sizing: border-box;
    border-radius: 5vw;
    text-align: center;

    display: flex;
    flex: 1 1 200px;
    justify-content: center;
}

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.pictures{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cat_img{
    width: 17vw;
    height: 13vw;
}

.soc_net{
    padding: 2vw 0vw;
    display: flex;
}

.soc_net img{
    margin: 0vw 4vw;
    width:10vw;
    height:10vw;
}

@media (max-width: 855px){

    *{
        font-size: 3vw;
    }

    .background-picture{
        justify-content: space-around;
    }

    header{
        margin-top: 6vh;
    }

    #FIO{
        font-size: 4vw;
    }

    .skills_info{
        margin: 1vw 5vw;
        padding: 3vw 4vw;
    }

    .cat_img{
        width: 20vw;
        height: 15vw;
        transform: scaleX(-1);
    }

    .cat-1{
        transform: rotate(-90deg);
    }

    .cat-2{
        transform: rotate(90deg);
    }
}

@media (max-height:  768px){
    .skills_info{
        margin: 1vw 2vw;
    }
}


@media (max-width: 740px) and (max-height: 360px){
    *{
        font-size: 2vw;
    }

    #FIO{
        font-size: 2vw; 
    }

    .short_info{
        font-size: 2vw;
        padding:  5px;
    }

    .skills_info{
        padding: 1vw;
    }

    main{
        padding-bottom: 5px;
    }

    .cat-1{
        transform: rotate(-180deg);
    }

    .cat-2{
        transform: rotate(180deg);
    }
}
